extensions:
	dependentSelectBox: NasExt\Forms\Extension

application:
	mapping:
		*: NasExt\Forms\Tests\App\Presenters\*Presenter

services:
	base.presenter:
		class: NasExt\Forms\Tests\App\Presenters\BasePresenter

	routing.router: NasExt\Forms\Tests\App\Router\Router::createRouter
